body{
  margin: 0;
  text-align: center;
  background-color: #E4F5F9;
  font-family: Merriweather, serif;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #dce8c9;
  border-width: 5px;
  width: 5%;
}
h1{
  font-size: 400%;
  margin-top: 0;
  font-family: Sacramento;
  color: #66BFBF;
}

h2{

  font-weight: normal;
  color: #66BFBF;
}
h3{
  color: #11999E;
  margin-bottom: 0;
}

.profile-img{
  height: 200px;
  width: 150px;
  border-radius: 100%;
}

.pro{
  text-decoration: underline;
}
.top-container{
  position: relative;
  padding-top: 100px;
}
.top-cloud{
  position: relative;
  left: 300px;
  top: 5px;
  bottom: 250px;
}

.bottom-cloud{
  position: relative;
  right: 250px;
}

.code-img{
  width: 35%;
  float:left;
  margin-right: 30px;
  border-radius: 30%;
}
.android-img{
  width: 35%;
  float: right;
  border-radius: 30%;
  margin-left: 30px;
}
.movies-img{
  width: 35%;
  float: left;
  margin-right: 30px;
  border-radius: 30%;
}
.music-img{
  width: 35%;
  float: right;
  border-radius: 30%;
  margin=left: 30px;
}
.skills-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1.5;
}

.hobbies-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1.5;
}
